<!DOCTYPE html>
<html>
<head>
<title>Learn TO Code</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}










    
}

   
    footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
     }

    p {
         color:	#008000;
	 font-family: verdana;
	
         font-size: 17px
      
       }


	h1 {
    color: #0000CD;
    text-align: center;
    
       }

	h2 {
    color: #008080;
    text-align: center;
    
       }
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:pink;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color:red;
}


</style>
</head>



<body>
<ul>
	<li><a href=>Admin login</a></li>
  <li><a href=http://pandeyjii.pythonanywhere.com/>home</a></li>
  <li><a href=http://www.javatpoint.com/java-tutorial>Java</a></li>
  <li><a href=http://www.javatpoint.com/sql-tutorial>Sql</a></li>
  <li><a href=http://www.javatpoint.com/android-tutorial>Android</a></li>
  <li><a href=http://www.javatpoint.com/python-tutorial>Python</a></li>
<li><a href=http://www.javatpoint.com/pl-sql-tutorial>PL/Sql</a></li>
  <li><a href=http://www.javatpoint.com/c-programming-language-tutorial>C Prog</a></li>
  <li><a href=http://www.javatpoint.com/cloud-computing-tutorial>Cloud</a></li>
  <li><a href=http://www.javatpoint.com/oracle-tutorial>Oracle</a></li>
<li><a href=http://www.javatpoint.com/mongodb-tutorial>MongoDB</a></li>
  <li><a href=http://www.javatpoint.com/hadoop-tutorial>Hadoop</a></li>
  <li><a href=http://www.javatpoint.com/mysql-tutorial>MYsql</a></li>
  <li><a href=http://www.javatpoint.com/linux-tutorial>linux</a></li>
<li><a href=http://www.javatpoint.com/cpp-tutorial>C++</a></li>
  <li><a href=http://www.javatpoint.com/perl-tutorial>Perl</a></li>
  <li><a href=http://www.javatpoint.com/ruby-tutorial>Ruby</a></li>
  <li><a href=http://www.javatpoint.com/html-tutorial>Html</a></li>
<li><a href=http://www.javatpoint.com/css-tutorial>CSS</a></li>
  <li><a href=http://www.javatpoint.com/javascript-tutorial>JavaScript</a></li>
  <li><a href=http://www.javatpoint.com/jquery-tutorial>Jquery</a></li>
  <li><a href=http://www.javatpoint.com/ajax-tutorial>Ajax</a></li>
  


</ul>




<img src="https://assets.entrepreneur.com/content/16x9/822/20150708172005-coding-working-workspace-apple-macintosh.jpeg" style="width:100%;height:400px;">




<h1>12 Sites That Will Teach You Coding for Free</H1>


<div class="code">
<p>There was a time when knowing how to program was for the geekiest of geeks. That’s not exactly the case today. As most entrepreneurs, freelancers and marketers will tell you, learning how to program can help you succeed. Over the past year, I've been learning to code. It's helped me to become a much better entrepreneur -- I can dive in when my team needs to fix a few bugs on the site. 

You don’t even need to shell out a ton of money or put yourself in debt to learn how to code, either. These 12 places offer coding courses for free:</p>

</div>


<div class="code">
<h2>1. CodeAcademy</h2>


<p>One of the most popular free places to learn coding is <a href="https://www.codecademy.com/">CodeAcademy</a>. In fact, more than 24 million people have already learned how to code through this educational company’s engaging experience. At CodeAcademy, you can dive right in and take courses that teach you everything from HTML & CSS, JavaScript, jQuery, PHP, Python and Ruby.</p>
</div> 


<div class="code" >


<h2>2. Coursera</h2>


<p>Founded in 2012, <a href="https://www.coursera.org/courses?languages=en&query=programming" >Coursera</a> has grown into a major for-profit educational-technology company that has offered more than 1,000 courses from 119 institutions. While you can pay for certain programs to receive a certificate, there are a number of free introductory programming courses in various specializations from universities such as the University of Washington, Stanford, the University of Toronto and Vanderbilt.</p>


</div> 


<div class="code">


<h2>3. edX</h2>
<p><a href="https://www.edx.org/">Edx</a> is another leading online-learning platform that is open source instead of for-profit. It was founded by Harvard University and MIT in 2012, so you know that you’ll learn about cutting-edge technologies and theories. Today, edX includes 60 schools. You probably can’t go wrong with the free Introduction to Computer Science from Harvard University.</p>
</div>



<div class="code">

<h2>4. Udemy</h2>
<p>Founded in 2010, <a href="https://www.udemy.com/">Udemy</a> is an online learning platform that can be used as a way to improve or learn job skills. While there are courses you have to pay for, there are plenty of free programming courses, which are taught via video lessons, such as Programming for Entrepreneurs - HTML & CSS or Introduction to Python Programming.</p>

</div>

		

<div class="code">



<h2>5. AGupieWare</h2>
<p><a href="http://blog.agupieware.com/2014/05/online-learning-bachelors-level.html">AGupieWare</a> is an independent app developer that surveyed computer-science programs from some of the leading institutions in the U.S. It then created a similar curriculum based on the free courses offered by Stanford, MIT, Carnegie Mellon, Berkeley and Columbia. The program was then broken into 15 courses: three introductory classes, seven core classes and five electives.

While you won’t actually receive credit, it’s a perfect introductory program for prospective computer programmers.</p>

</div>

<div class="code">



<h2>6. GitHub</h2>
<p>Sometimes, you need to recall a reference book when you’re stuck on a problem. That's <a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md#professional-development">GitHub</a>. You can find more than 500 free programming books that cover more than 80 different programming languages on the popular web-based Git repository hosting service, which means that it’s frequently updated by collaborators.</p>

</div>

<div class="code">



<h2>7. MIT Open Courseware</h2>
<p>If you’ve already learned the basics, and went to get into something a bit heavier -- such as exploring the theory behind coding -- take advantage of MIT’s free courseware site that includes classes such as <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00-introduction-to-computer-science-and-programming-fall-2008/">Introduction to Computer Science and Programming</a>, Introduction to Programming in Java and Practical Programming in C.</p>

</div>

<div class="code">


<h2>8. Hack.pledge()</h2>
<p>This is a <a href="https://hackpledge.org/">community of developers</a>, which include some high-profile developers such as Bram Cohen, the inventor of BitTorrent. There, you can perfect your programming skills by learning from some of the leading developers in the world.</p>

</div>


<div class="code">



<h2>9. Code Avengers</h2>
<p>Based out of New Zealand, <a href="https://www.codeavengers.com/">Code Avengers</a> provides fun and interactive programming courses that will teach you how to code games, apps and web sites using JavaScript, HTML and CSS. Each course takes just 12 hours to complete and is available in English, Russian, Dutch, Spanish, Italian, Turkish and Portuguese.</p>

</div>

<div class="code">



<h2>10. Khan Academy</h2>
<p>Created in 2006 by educator Salman Khan, <a href="https://www.khanacademy.org/">Khan Academy</a> is one of the original free online-learning institutions. With step-by-step video tutorials, you can  learn how to program drawings, animations and games using JavaScript and ProcessingJS, or learn how to create webpages with HTML and CSS.</p>

</div>

<div class="code">



<h2>11. Free Food Camp</h2>
<p><a href="https://www.freecodecamp.com/">Here you’ll learn</a> HTML5, CSS3, JavaScript, Databases, DevTools, Node.js, Angular.js and Agile by networking and joining a community of professionals and students. You’ll even work together on your coding skills so that you can build apps for free. Here’s the catch: you’re learning those skills and building helps to help solve real-world problems. Code is available to nonprofits.</p>

</div>



<div class="code">



<h2>12. HTML5 Rocks</h2>
<p>This <a href="https://www.html5rocks.com/en/">Google project</a> launched in 2010 to counter Apple’s HTML5. The site is full of tutorials, resources and the latest HTML5 updates. It’s open source, so developers can play around with HTML5 code. Because this is more advanced than most introductory courses, you may want to gain some knowledge and experience before jumping in.

Learning code used to require access to expensive books and classes, but no longer. I highly recommend that every entrepreneur learns to code. Still wondering if you need to code? Here is a programmer guide I put together to show you every step I took to become an entrepreneur that codes! </p>

</div>



<div class="container">
  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span >Alok Pandey</span> CEO at Learn2code</p>
  <p>Its best place to learn</p>
</div>

<div class="container">
  <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar" style="width:90px">
  <p><span >Rebecca Martina</span> CEO at FreeCode</p>
  <p>Learn2code saved us from a web disaster.</p>
</div>








<footer>Copyright &copy; Learn2code.com</footer>




</body>
</html>
